.container-fluid {
    display: flex;
    justify-content: space-between;
}

nav .img-acc {
    width: 33.3%;
    transform: translateX(250px);
}

nav .img-acc img{
    width: 10%;
}

style
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .promo-section {
            background-color: #e6ccf2;
            padding: 30px;
            border-radius: 10px;
            margin: 20px 0;
            position: relative;
        }

        .promo-text h3 {
            color: #333;
            font-weight: bold;
            font-size: 2rem;
        }

        .promo-text p {
            color: #333;
            font-size: 1.2rem;
        }

        .promo-text span {
            font-weight: bold;
            font-size: 1.5rem;
            color: #000;
        }

        .promo-image img {
            width: 100px;
            border: 2px solid #000;
            border-radius: 10px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(1);
        }

 